@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3.75rem;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    background: #0f1114;
    height: 100%;
  }
  body {
    color: #ffffff;
    height: 100%;
  }
  button {
    background-color: transparent;
  }
  input:focus {
    outline: none;
  }
}
::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  /* Heading */
  .Heading_1_bold {
    @apply font-pretendard text-[2.25rem] font-bold leading-[140%] tracking-[-0.0045rem];
  }
  .Heading_1_semibold {
    @apply font-pretendard text-[2.25rem] font-semibold leading-[140%] tracking-[-0.0045rem];
  }
  .Heading_2_bold {
    @apply font-pretendard text-[2rem] font-bold leading-[140%] tracking-[-0.004rem];
  }
  .Heading_2_semibold {
    @apply font-pretendard text-[2rem] font-semibold leading-[140%] tracking-[-0.004rem];
  }
  .Heading_3_semibold {
    @apply font-pretendard text-[1.75rem] font-semibold leading-[140%] tracking-[-0.0035rem];
  }

  /* Subhead */
  .Subhead_1_semibold {
    @apply font-pretendard text-[1.5rem] font-semibold leading-[145%] tracking-[-0.003rem];
  }
  .Subhead_1_medium {
    @apply font-pretendard text-[1.5rem] font-medium leading-[145%] tracking-[-0.003rem];
  }
  .Subhead_2_semibold {
    @apply font-pretendard text-[1.25rem] font-semibold leading-[145%] tracking-[-0.0025rem];
  }
  .Subhead_2_medium {
    @apply font-pretendard text-[1.25rem] font-medium leading-[145%] tracking-[-0.0025rem];
  }

  /* Body */
  .Body_1_semibold {
    @apply font-pretendard text-[1.125rem] font-semibold leading-[145%] tracking-[-0.00225rem];
  }
  .Body_1_medium {
    @apply font-pretendard text-[1.125rem] font-medium leading-[145%] tracking-[-0.00225rem];
  }
  .Body_2_semibold {
    @apply font-pretendard text-base font-semibold leading-[145%] tracking-[-0.002rem];
  }
  .Body_2_medium {
    @apply font-pretendard text-base font-medium leading-[145%] tracking-[-0.002rem];
  }
  .Body_3_semibold {
    @apply font-pretendard text-sm font-semibold leading-[145%] tracking-[-0.00175rem];
  }
  .Body_3_medium {
    @apply font-pretendard text-sm font-medium leading-[145%] tracking-[-0.00175rem];
  }
  .Body_3_regular {
    @apply font-pretendard text-sm font-normal leading-[145%] tracking-[-0.00175rem];
  }

  /* Caption */
  .Caption_semibold {
    @apply font-pretendard text-xs font-semibold leading-[140%] tracking-[-0.0015rem];
  }
  .Caption_medium {
    @apply font-pretendard text-xs font-medium leading-[140%] tracking-[-0.0015rem];
  }
}
