@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";

@theme {
  --breakpoint-xs: 360px;
  --breakpoint-sm: 600px;
  --breakpoint-lg: 1024px;
  --breakpoint-2xl: 1440px;

  --color-Black: #0f1114;
  --color-White: #ffffff;

  --color-Red-300: #ff8686;
  --color-Red-350: #ff7575;
  --color-Red-400: #ff5252;
  --color-Red-500: #ff3030;

  --color-Grey-50: #f1f4f8;
  --color-Grey-100: #d8dfe9;
  --color-Grey-200: #a9b4c6;
  --color-Grey-300: #808a9d;
  --color-Grey-400: #626b7f;
  --color-Grey-500: #4b5362;
  --color-Grey-600: #353b45;
  --color-Grey-700: #282c34;
  --color-Grey-800: #1d2025;
  --color-Grey-900: #16181d;

  --font-pretendard: var(--pretendard), Pretendard, system-ui, sans-serif;
  --font-calSans: var(--calSans), system-ui, sans-serif;

  --animate-marquee-left: marquee-left 30s linear infinite;
  --animate-marquee-right: marquee-right 30s linear infinite;

  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-32: 2rem;

  @keyframes marquee-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  @keyframes marquee-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

:root {
  --header-height: 3.75rem;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    background: #0f1114;
    height: 100%;
  }

  body {
    color: #ffffff;
    height: 100%;
  }

  button {
    background-color: transparent;
    cursor: pointer;
  }

  input:focus {
    outline: none;
  }
}
::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  /* Heading */
  .Heading_1_bold {
    @apply font-pretendard text-[2.25rem] font-bold leading-[140%] tracking-[-0.0045rem];
  }
  .Heading_1_semibold {
    @apply font-pretendard text-[2.25rem] font-semibold leading-[140%] tracking-[-0.0045rem];
  }
  .Heading_2_bold {
    @apply font-pretendard text-[2rem] font-bold leading-[140%] tracking-[-0.004rem];
  }
  .Heading_2_semibold {
    @apply font-pretendard text-[2rem] font-semibold leading-[140%] tracking-[-0.004rem];
  }
  .Heading_3_semibold {
    @apply font-pretendard text-[1.75rem] font-semibold leading-[140%] tracking-[-0.0035rem];
  }

  /* Subhead */
  .Subhead_1_semibold {
    @apply font-pretendard text-[1.5rem] font-semibold leading-[145%] tracking-[-0.003rem];
  }
  .Subhead_1_medium {
    @apply font-pretendard text-[1.5rem] font-medium leading-[145%] tracking-[-0.003rem];
  }
  .Subhead_2_semibold {
    @apply font-pretendard text-[1.25rem] font-semibold leading-[145%] tracking-[-0.0025rem];
  }
  .Subhead_2_medium {
    @apply font-pretendard text-[1.25rem] font-medium leading-[145%] tracking-[-0.0025rem];
  }

  /* Body */
  .Body_1_semibold {
    @apply font-pretendard text-[1.125rem] font-semibold leading-[145%] tracking-[-0.00225rem];
  }
  .Body_1_medium {
    @apply font-pretendard text-[1.125rem] font-medium leading-[145%] tracking-[-0.00225rem];
  }
  .Body_2_semibold {
    @apply font-pretendard text-base font-semibold leading-[145%] tracking-[-0.002rem];
  }
  .Body_2_medium {
    @apply font-pretendard text-base font-medium leading-[145%] tracking-[-0.002rem];
  }
  .Body_3_semibold {
    @apply font-pretendard text-sm font-semibold leading-[145%] tracking-[-0.00175rem];
  }
  .Body_3_medium {
    @apply font-pretendard text-sm font-medium leading-[145%] tracking-[-0.00175rem];
  }
  .Body_3_regular {
    @apply font-pretendard text-sm font-normal leading-[145%] tracking-[-0.00175rem];
  }

  /* Caption */
  .Caption_semibold {
    @apply font-pretendard text-xs font-semibold leading-[140%] tracking-[-0.0015rem];
  }
  .Caption_medium {
    @apply font-pretendard text-xs font-medium leading-[140%] tracking-[-0.0015rem];
  }
}
